/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_15ec79848f131aa58ca03ca29dc6bbf9.eot");
  src: url("./fontcustom_15ec79848f131aa58ca03ca29dc6bbf9.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_15ec79848f131aa58ca03ca29dc6bbf9.woff") format("woff"),
       url("./fontcustom_15ec79848f131aa58ca03ca29dc6bbf9.ttf") format("truetype"),
       url("./fontcustom_15ec79848f131aa58ca03ca29dc6bbf9.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_15ec79848f131aa58ca03ca29dc6bbf9.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-arrow-down:before,
.icon-arrow-up:before,
.icon-arrow-up-down:before,
.icon-calendar:before,
.icon-close:before,
.icon-file:before,
.icon-reload:before,
.icon-search:before,
.icon-sidebar-hide:before,
.icon-sidebar-show:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f10b"; }
.icon-arrow-down:before { content: "\f10c"; }
.icon-arrow-up:before { content: "\f10d"; }
.icon-arrow-up-down:before { content: "\f10e"; }
.icon-calendar:before { content: "\f115"; }
.icon-close:before { content: "\f10f"; }
.icon-file:before { content: "\f110"; }
.icon-reload:before { content: "\f111"; }
.icon-search:before { content: "\f112"; }
.icon-sidebar-hide:before { content: "\f113"; }
.icon-sidebar-show:before { content: "\f114"; }
