/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_b64610a65c482aac71f2917d25ed780b.eot");
  src: url("./fontcustom_b64610a65c482aac71f2917d25ed780b.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_b64610a65c482aac71f2917d25ed780b.woff") format("woff"),
       url("./fontcustom_b64610a65c482aac71f2917d25ed780b.ttf") format("truetype"),
       url("./fontcustom_b64610a65c482aac71f2917d25ed780b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_b64610a65c482aac71f2917d25ed780b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-adduser:before,
.icon-archive:before,
.icon-arrowdown:before,
.icon-arrowleft:before,
.icon-arrowright:before,
.icon-arrowtop:before,
.icon-attachment:before,
.icon-bell:before,
.icon-bell-normal:before,
.icon-bell-ringing:before,
.icon-bell-silent:before,
.icon-bigerspacing:before,
.icon-close:before,
.icon-code:before,
.icon-dot:before,
.icon-download:before,
.icon-email:before,
.icon-eye:before,
.icon-file:before,
.icon-flag:before,
.icon-history:before,
.icon-images:before,
.icon-info:before,
.icon-leave:before,
.icon-location:before,
.icon-messages:before,
.icon-options:before,
.icon-phone:before,
.icon-photo:before,
.icon-prevarrow:before,
.icon-quotedown:before,
.icon-quoteup:before,
.icon-reload:before,
.icon-search:before,
.icon-share:before,
.icon-smallspacing:before,
.icon-thumbup:before,
.icon-topic:before,
.icon-trash:before,
.icon-user:before,
.icon-users:before,
.icon-world:before,
.icon-write:before,
.icon-yes:before,
.icon-zoom-in:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f133"; }
.icon-adduser:before { content: "\f169"; }
.icon-archive:before { content: "\f16a"; }
.icon-arrowdown:before { content: "\f135"; }
.icon-arrowleft:before { content: "\f136"; }
.icon-arrowright:before { content: "\f137"; }
.icon-arrowtop:before { content: "\f16b"; }
.icon-attachment:before { content: "\f16c"; }
.icon-bell:before { content: "\f16d"; }
.icon-bell-normal:before { content: "\f16e"; }
.icon-bell-ringing:before { content: "\f16f"; }
.icon-bell-silent:before { content: "\f170"; }
.icon-bigerspacing:before { content: "\f171"; }
.icon-close:before { content: "\f13c"; }
.icon-code:before { content: "\f172"; }
.icon-dot:before { content: "\f173"; }
.icon-download:before { content: "\f174"; }
.icon-email:before { content: "\f175"; }
.icon-eye:before { content: "\f141"; }
.icon-file:before { content: "\f176"; }
.icon-flag:before { content: "\f177"; }
.icon-history:before { content: "\f178"; }
.icon-images:before { content: "\f179"; }
.icon-info:before { content: "\f17a"; }
.icon-leave:before { content: "\f17b"; }
.icon-location:before { content: "\f14e"; }
.icon-messages:before { content: "\f153"; }
.icon-options:before { content: "\f156"; }
.icon-phone:before { content: "\f17c"; }
.icon-photo:before { content: "\f17d"; }
.icon-prevarrow:before { content: "\f17e"; }
.icon-quotedown:before { content: "\f17f"; }
.icon-quoteup:before { content: "\f180"; }
.icon-reload:before { content: "\f181"; }
.icon-search:before { content: "\f15b"; }
.icon-share:before { content: "\f182"; }
.icon-smallspacing:before { content: "\f183"; }
.icon-thumbup:before { content: "\f184"; }
.icon-topic:before { content: "\f185"; }
.icon-trash:before { content: "\f186"; }
.icon-user:before { content: "\f162"; }
.icon-users:before { content: "\f163"; }
.icon-world:before { content: "\f187"; }
.icon-write:before { content: "\f188"; }
.icon-yes:before { content: "\f189"; }
.icon-zoom-in:before { content: "\f18a"; }
