/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_0f6e84a4889465a4acc0f18e15b52945.eot");
  src: url("./fontcustom_0f6e84a4889465a4acc0f18e15b52945.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_0f6e84a4889465a4acc0f18e15b52945.woff") format("woff"),
       url("./fontcustom_0f6e84a4889465a4acc0f18e15b52945.ttf") format("truetype"),
       url("./fontcustom_0f6e84a4889465a4acc0f18e15b52945.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_0f6e84a4889465a4acc0f18e15b52945.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-adduser:before,
.icon-arrowdown:before,
.icon-arrowleft:before,
.icon-arrowright:before,
.icon-arrowtop:before,
.icon-attachment:before,
.icon-bell:before,
.icon-bell-normal:before,
.icon-bell-ringing:before,
.icon-bell-silent:before,
.icon-bigerspacing:before,
.icon-close:before,
.icon-code:before,
.icon-dot:before,
.icon-email:before,
.icon-eye:before,
.icon-file:before,
.icon-flag:before,
.icon-history:before,
.icon-images:before,
.icon-info:before,
.icon-leave:before,
.icon-location:before,
.icon-messages:before,
.icon-options:before,
.icon-phone:before,
.icon-photo:before,
.icon-quotedown:before,
.icon-quoteup:before,
.icon-search:before,
.icon-share:before,
.icon-smallspacing:before,
.icon-trash:before,
.icon-user:before,
.icon-users:before,
.icon-write:before,
.icon-yes:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f100"; }
.icon-adduser:before { content: "\f113"; }
.icon-arrowdown:before { content: "\f101"; }
.icon-arrowleft:before { content: "\f102"; }
.icon-arrowright:before { content: "\f103"; }
.icon-arrowtop:before { content: "\f104"; }
.icon-attachment:before { content: "\f110"; }
.icon-bell:before { content: "\f114"; }
.icon-bell-normal:before { content: "\f11c"; }
.icon-bell-ringing:before { content: "\f11d"; }
.icon-bell-silent:before { content: "\f11e"; }
.icon-bigerspacing:before { content: "\f111"; }
.icon-close:before { content: "\f105"; }
.icon-code:before { content: "\f11a"; }
.icon-dot:before { content: "\f106"; }
.icon-email:before { content: "\f115"; }
.icon-eye:before { content: "\f11b"; }
.icon-file:before { content: "\f107"; }
.icon-flag:before { content: "\f11f"; }
.icon-history:before { content: "\f120"; }
.icon-images:before { content: "\f121"; }
.icon-info:before { content: "\f108"; }
.icon-leave:before { content: "\f122"; }
.icon-location:before { content: "\f109"; }
.icon-messages:before { content: "\f10a"; }
.icon-options:before { content: "\f10b"; }
.icon-phone:before { content: "\f10c"; }
.icon-photo:before { content: "\f119"; }
.icon-quotedown:before { content: "\f117"; }
.icon-quoteup:before { content: "\f118"; }
.icon-search:before { content: "\f10d"; }
.icon-share:before { content: "\f125"; }
.icon-smallspacing:before { content: "\f112"; }
.icon-trash:before { content: "\f123"; }
.icon-user:before { content: "\f124"; }
.icon-users:before { content: "\f116"; }
.icon-write:before { content: "\f10e"; }
.icon-yes:before { content: "\f10f"; }
