/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_28f66983b42a49ddd8b80a807cefb5f1.eot");
  src: url("./fontcustom_28f66983b42a49ddd8b80a807cefb5f1.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_28f66983b42a49ddd8b80a807cefb5f1.woff2") format("woff2"),
       url("./fontcustom_28f66983b42a49ddd8b80a807cefb5f1.woff") format("woff"),
       url("./fontcustom_28f66983b42a49ddd8b80a807cefb5f1.ttf") format("truetype"),
       url("./fontcustom_28f66983b42a49ddd8b80a807cefb5f1.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_28f66983b42a49ddd8b80a807cefb5f1.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-fcl-v1-icon-font:before,
.icon-fontcustom_5cc035ab853ed0bff3f49382490d8b9b:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-fcl-v1-icon-font:before { content: "\f100"; }
.icon-fontcustom_5cc035ab853ed0bff3f49382490d8b9b:before { content: "\f101"; }
