/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_6d205049767643f06f0b79d408eed4f8.eot");
  src: url("./fontcustom_6d205049767643f06f0b79d408eed4f8.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_6d205049767643f06f0b79d408eed4f8.woff") format("woff"),
       url("./fontcustom_6d205049767643f06f0b79d408eed4f8.ttf") format("truetype"),
       url("./fontcustom_6d205049767643f06f0b79d408eed4f8.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_6d205049767643f06f0b79d408eed4f8.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-active-filters:before,
.icon-amplifier-circuits:before,
.icon-analog-integration:before,
.icon-audio-video:before,
.icon-capacitors:before,
.icon-circuit-protection:before,
.icon-connectors:before,
.icon-da-converters:before,
.icon-diodes:before,
.icon-drives-and-interfaces:before,
.icon-fiber-optics:before,
.icon-filters:before,
.icon-inductors:before,
.icon-interconnect:before,
.icon-logic:before,
.icon-memory:before,
.icon-microcontrollers:before,
.icon-optoelectronics:before,
.icon-oscillators:before,
.icon-programmable-logic:before,
.icon-rc-network:before,
.icon-regulator:before,
.icon-relays:before,
.icon-resistors:before,
.icon-resonators:before,
.icon-rf-and-microwave:before,
.icon-sensors:before,
.icon-sockets:before,
.icon-switches:before,
.icon-telecommunications:before,
.icon-terminal-blocks:before,
.icon-transformers:before,
.icon-transistors:before,
.icon-trigger-devices:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-active-filters:before { content: "\f100"; }
.icon-amplifier-circuits:before { content: "\f101"; }
.icon-analog-integration:before { content: "\f102"; }
.icon-audio-video:before { content: "\f103"; }
.icon-capacitors:before { content: "\f104"; }
.icon-circuit-protection:before { content: "\f105"; }
.icon-connectors:before { content: "\f106"; }
.icon-da-converters:before { content: "\f107"; }
.icon-diodes:before { content: "\f108"; }
.icon-drives-and-interfaces:before { content: "\f109"; }
.icon-fiber-optics:before { content: "\f10a"; }
.icon-filters:before { content: "\f10b"; }
.icon-inductors:before { content: "\f10c"; }
.icon-interconnect:before { content: "\f10d"; }
.icon-logic:before { content: "\f10e"; }
.icon-memory:before { content: "\f10f"; }
.icon-microcontrollers:before { content: "\f110"; }
.icon-optoelectronics:before { content: "\f111"; }
.icon-oscillators:before { content: "\f112"; }
.icon-programmable-logic:before { content: "\f113"; }
.icon-rc-network:before { content: "\f114"; }
.icon-regulator:before { content: "\f115"; }
.icon-relays:before { content: "\f116"; }
.icon-resistors:before { content: "\f117"; }
.icon-resonators:before { content: "\f118"; }
.icon-rf-and-microwave:before { content: "\f119"; }
.icon-sensors:before { content: "\f11a"; }
.icon-sockets:before { content: "\f11b"; }
.icon-switches:before { content: "\f11c"; }
.icon-telecommunications:before { content: "\f11d"; }
.icon-terminal-blocks:before { content: "\f11e"; }
.icon-transformers:before { content: "\f11f"; }
.icon-transistors:before { content: "\f120"; }
.icon-trigger-devices:before { content: "\f121"; }
