/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_e32d41c0b304496fbb4889e564f690f0.eot");
  src: url("./fontcustom_e32d41c0b304496fbb4889e564f690f0.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_e32d41c0b304496fbb4889e564f690f0.woff") format("woff"),
       url("./fontcustom_e32d41c0b304496fbb4889e564f690f0.ttf") format("truetype"),
       url("./fontcustom_e32d41c0b304496fbb4889e564f690f0.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_e32d41c0b304496fbb4889e564f690f0.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-alert:before,
.icon-arrowdown:before,
.icon-arrowleft:before,
.icon-arrowright:before,
.icon-arrowup:before,
.icon-calendar:before,
.icon-calendaradd:before,
.icon-circleprogress:before,
.icon-close:before,
.icon-completed:before,
.icon-discussions:before,
.icon-dropbox:before,
.icon-edit:before,
.icon-eye:before,
.icon-facebook:before,
.icon-facebook-circle:before,
.icon-feed:before,
.icon-follow:before,
.icon-github:before,
.icon-githublogo:before,
.icon-googleplus:before,
.icon-googleplus-circle:before,
.icon-hardware:before,
.icon-home:before,
.icon-importimage:before,
.icon-invader:before,
.icon-join:before,
.icon-list:before,
.icon-location:before,
.icon-lock:before,
.icon-longarrowdown:before,
.icon-longarrowleft:before,
.icon-longarrowright:before,
.icon-longarrowup:before,
.icon-messages:before,
.icon-misc:before,
.icon-move:before,
.icon-options:before,
.icon-other:before,
.icon-page:before,
.icon-prize:before,
.icon-project-update:before,
.icon-search:before,
.icon-skull:before,
.icon-software:before,
.icon-star:before,
.icon-storage:before,
.icon-trash:before,
.icon-twitter:before,
.icon-twitter-circle:before,
.icon-twitterlogo:before,
.icon-unlock:before,
.icon-user:before,
.icon-users:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f132"; }
.icon-alert:before { content: "\f133"; }
.icon-arrowdown:before { content: "\f134"; }
.icon-arrowleft:before { content: "\f135"; }
.icon-arrowright:before { content: "\f136"; }
.icon-arrowup:before { content: "\f137"; }
.icon-calendar:before { content: "\f138"; }
.icon-calendaradd:before { content: "\f139"; }
.icon-circleprogress:before { content: "\f13a"; }
.icon-close:before { content: "\f13b"; }
.icon-completed:before { content: "\f13c"; }
.icon-discussions:before { content: "\f13d"; }
.icon-dropbox:before { content: "\f13e"; }
.icon-edit:before { content: "\f13f"; }
.icon-eye:before { content: "\f140"; }
.icon-facebook:before { content: "\f141"; }
.icon-facebook-circle:before { content: "\f142"; }
.icon-feed:before { content: "\f143"; }
.icon-follow:before { content: "\f144"; }
.icon-github:before { content: "\f145"; }
.icon-githublogo:before { content: "\f146"; }
.icon-googleplus:before { content: "\f147"; }
.icon-googleplus-circle:before { content: "\f148"; }
.icon-hardware:before { content: "\f149"; }
.icon-home:before { content: "\f14a"; }
.icon-importimage:before { content: "\f14b"; }
.icon-invader:before { content: "\f14c"; }
.icon-join:before { content: "\f14d"; }
.icon-list:before { content: "\f14e"; }
.icon-location:before { content: "\f14f"; }
.icon-lock:before { content: "\f150"; }
.icon-longarrowdown:before { content: "\f151"; }
.icon-longarrowleft:before { content: "\f152"; }
.icon-longarrowright:before { content: "\f153"; }
.icon-longarrowup:before { content: "\f154"; }
.icon-messages:before { content: "\f155"; }
.icon-misc:before { content: "\f156"; }
.icon-move:before { content: "\f157"; }
.icon-options:before { content: "\f158"; }
.icon-other:before { content: "\f159"; }
.icon-page:before { content: "\f15a"; }
.icon-prize:before { content: "\f15b"; }
.icon-project-update:before { content: "\f15c"; }
.icon-search:before { content: "\f15d"; }
.icon-skull:before { content: "\f15e"; }
.icon-software:before { content: "\f15f"; }
.icon-star:before { content: "\f160"; }
.icon-storage:before { content: "\f161"; }
.icon-trash:before { content: "\f162"; }
.icon-twitter:before { content: "\f163"; }
.icon-twitter-circle:before { content: "\f164"; }
.icon-twitterlogo:before { content: "\f165"; }
.icon-unlock:before { content: "\f166"; }
.icon-user:before { content: "\f167"; }
.icon-users:before { content: "\f168"; }
