/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_e1dc81abfd565dec292790abe8061382.eot");
  src: url("./fontcustom_e1dc81abfd565dec292790abe8061382.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_e1dc81abfd565dec292790abe8061382.woff") format("woff"),
       url("./fontcustom_e1dc81abfd565dec292790abe8061382.ttf") format("truetype"),
       url("./fontcustom_e1dc81abfd565dec292790abe8061382.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_e1dc81abfd565dec292790abe8061382.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-alert:before,
.icon-arrowdown:before,
.icon-arrowleft:before,
.icon-arrowright:before,
.icon-arrowup:before,
.icon-calendar:before,
.icon-calendaradd:before,
.icon-circleprogress:before,
.icon-close:before,
.icon-completed:before,
.icon-discussions:before,
.icon-dropbox:before,
.icon-eye:before,
.icon-facebook:before,
.icon-facebook-circle:before,
.icon-feed:before,
.icon-follow:before,
.icon-github:before,
.icon-githublogo:before,
.icon-googleplus:before,
.icon-googleplus-circle:before,
.icon-hardware:before,
.icon-home:before,
.icon-importimage:before,
.icon-list:before,
.icon-location:before,
.icon-longarrowdown:before,
.icon-longarrowleft:before,
.icon-longarrowright:before,
.icon-longarrowup:before,
.icon-messages:before,
.icon-misc:before,
.icon-move:before,
.icon-options:before,
.icon-page:before,
.icon-project-update:before,
.icon-search:before,
.icon-skull:before,
.icon-software:before,
.icon-star:before,
.icon-twitter:before,
.icon-twitter-circle:before,
.icon-twitterlogo:before,
.icon-user:before,
.icon-users:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f100"; }
.icon-alert:before { content: "\f101"; }
.icon-arrowdown:before { content: "\f102"; }
.icon-arrowleft:before { content: "\f103"; }
.icon-arrowright:before { content: "\f104"; }
.icon-arrowup:before { content: "\f105"; }
.icon-calendar:before { content: "\f106"; }
.icon-calendaradd:before { content: "\f107"; }
.icon-circleprogress:before { content: "\f108"; }
.icon-close:before { content: "\f109"; }
.icon-completed:before { content: "\f10a"; }
.icon-discussions:before { content: "\f10b"; }
.icon-dropbox:before { content: "\f128"; }
.icon-eye:before { content: "\f10c"; }
.icon-facebook:before { content: "\f10d"; }
.icon-facebook-circle:before { content: "\f129"; }
.icon-feed:before { content: "\f10e"; }
.icon-follow:before { content: "\f10f"; }
.icon-github:before { content: "\f12a"; }
.icon-githublogo:before { content: "\f110"; }
.icon-googleplus:before { content: "\f111"; }
.icon-googleplus-circle:before { content: "\f12b"; }
.icon-hardware:before { content: "\f125"; }
.icon-home:before { content: "\f12c"; }
.icon-importimage:before { content: "\f112"; }
.icon-list:before { content: "\f113"; }
.icon-location:before { content: "\f114"; }
.icon-longarrowdown:before { content: "\f115"; }
.icon-longarrowleft:before { content: "\f116"; }
.icon-longarrowright:before { content: "\f117"; }
.icon-longarrowup:before { content: "\f118"; }
.icon-messages:before { content: "\f119"; }
.icon-misc:before { content: "\f126"; }
.icon-move:before { content: "\f124"; }
.icon-options:before { content: "\f11a"; }
.icon-page:before { content: "\f11b"; }
.icon-project-update:before { content: "\f11c"; }
.icon-search:before { content: "\f11d"; }
.icon-skull:before { content: "\f11e"; }
.icon-software:before { content: "\f127"; }
.icon-star:before { content: "\f11f"; }
.icon-twitter:before { content: "\f120"; }
.icon-twitter-circle:before { content: "\f12d"; }
.icon-twitterlogo:before { content: "\f121"; }
.icon-user:before { content: "\f122"; }
.icon-users:before { content: "\f123"; }
