/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_848781e2c3b5982a69bb75cbebfe3006.eot");
  src: url("./fontcustom_848781e2c3b5982a69bb75cbebfe3006.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_848781e2c3b5982a69bb75cbebfe3006.woff") format("woff"),
       url("./fontcustom_848781e2c3b5982a69bb75cbebfe3006.ttf") format("truetype"),
       url("./fontcustom_848781e2c3b5982a69bb75cbebfe3006.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_848781e2c3b5982a69bb75cbebfe3006.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-add:before,
.icon-arrow-down:before,
.icon-arrow-stable:before,
.icon-arrow-up:before,
.icon-arrowdown:before,
.icon-arrowleft:before,
.icon-arrowright:before,
.icon-arrowup:before,
.icon-close:before,
.icon-dot:before,
.icon-edit:before,
.icon-export:before,
.icon-eye:before,
.icon-facebook:before,
.icon-googleplus:before,
.icon-info:before,
.icon-lists:before,
.icon-options:before,
.icon-private:before,
.icon-public:before,
.icon-refresh:before,
.icon-search:before,
.icon-share:before,
.icon-star:before,
.icon-twitter:before,
.icon-upload:before,
.icon-yes:before,
.icon-yes-1x:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-add:before { content: "\f109"; }
.icon-arrow-down:before { content: "\f10a"; }
.icon-arrow-stable:before { content: "\f10b"; }
.icon-arrow-up:before { content: "\f105"; }
.icon-arrowdown:before { content: "\f104"; }
.icon-arrowleft:before { content: "\f106"; }
.icon-arrowright:before { content: "\f107"; }
.icon-arrowup:before { content: "\f108"; }
.icon-close:before { content: "\f10c"; }
.icon-dot:before { content: "\f10d"; }
.icon-edit:before { content: "\f10e"; }
.icon-export:before { content: "\f10f"; }
.icon-eye:before { content: "\f110"; }
.icon-facebook:before { content: "\f111"; }
.icon-googleplus:before { content: "\f112"; }
.icon-info:before { content: "\f113"; }
.icon-lists:before { content: "\f114"; }
.icon-options:before { content: "\f115"; }
.icon-private:before { content: "\f116"; }
.icon-public:before { content: "\f117"; }
.icon-refresh:before { content: "\f118"; }
.icon-search:before { content: "\f119"; }
.icon-share:before { content: "\f11a"; }
.icon-star:before { content: "\f11b"; }
.icon-twitter:before { content: "\f11c"; }
.icon-upload:before { content: "\f11d"; }
.icon-yes:before { content: "\f11f"; }
.icon-yes-1x:before { content: "\f120"; }
